
/*************************************************************************************** LAYOUT/SCSS **/

* {
	text-rendering: optimizeLegibility!important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

	-webkit-font-smoothing: antialiased!important;
}

html, body {
	width: 100%; height: 100%;
}

html {
}

body {
  background-color: $white;
  color: $black;
	@include sans;
	font-size: 16px;
	overflow-x: hidden;
	position: relative;
	text-rendering: optimizeLegibility;
}

::selection {
	background-color: transparent;
	color: $slate;
}

/** HEADER ********************************************************************************************/

header, footer {
	background-size: cover;
	text-align: center;
	width: 100%;
}

header {
	/* background-image: url("../images/bg-03.jpg"); */
	background-color: #cc9e61;
	height: 550px;
	position: fixed;

	h1 {
		width: 400px; height: 111px;

		background-image: url("../images/logo.png");
		background-size: 400px 111px; /* 600px 167px */
		margin: 4rem auto 1rem;

		@include hide-text;

		a {
			width: 100%; height: 100%;
			display: block;
		}
	}

	h3 {
		font-style: italic;
		margin: 0 0 2rem 0;
	}

	p {
		margin: 0 auto 2rem; padding: 0 0 0 1rem;

		border-left: 3px solid $slate;
		text-align: justify;
		width: 60%;
	}

	.cta {
		&:after {
			content: "\203A";
			display: block;
			font-size: 4em;
			font-weight: 300;
			line-height: 0.4;
			transform: rotate(90deg);

			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
		}
	}
}

/** MAIN CONTENT **************************************************************************************/

#container {
	width: 100%; height: 500px;

	background-color: #a49385;
	position: relative;
	top: 550px;
	z-index: 10;

	.split-left, .split-right {
		position: absolute;
	}

	.split-left {
		left: 0;
		padding: 2rem 2rem 0 2rem;
		width: 30%;
	}

	.split-right {
		padding: 1.3rem 2rem 0 2rem;
		right: 0;
		width: 70%;
	}

	.video-container {
		width: 100%; height: 459px;

		background-color: $gray-ii;
		border-radius: 5px;
		padding: 1rem;

		iframe { padding: 1rem; }
	}
}

p, .cta {
	font-size: 1.3em;
	line-height: 1.5;
}

.cta {
}

/** FOOTER ********************************************************************************************/

footer {
	/* background-image: url("../images/bg-02.jpg"); */
	background-color: #56606c;
	color: $white;
	height: 330px;
	padding: 3rem 0 0 0;
	position: relative;
	top: 550px;

	ul {
		border-bottom: 1px solid rgba($white, 0.3);
		margin: 0 auto; padding: 0 0 2rem 0;
		width: 50%;

		li {
			margin: 0 2rem 0 0; padding: 0 0 0 0.5rem;
			display: inline-block;

			&:last-child { margin: 0; }

			&:nth-child(1) {
				border-left: 3px solid #66a1dd;
				a { color: #66a1dd; }
			}

			&:nth-child(2) {
				border-left: 3px solid #ff7a79;
				a { color: #ff7a79; }
			}

			&:nth-child(3) {
				border-left: 3px solid #d0e1f4;
				a { color: #d0e1f4; }
			}
		}
	}

	h3 {
		width: 200px; height: 56px;

		background-image: url("../images/logo.png");
		background-size: 200px 56px;
		margin: 2rem auto 1rem;

		@include hide-text;

		a {
			width: 100%; height: 100%;
			display: block;
		}
	}

	.cta { padding: 0 0 2rem 0; }
}
