@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);
/* @import "fonts"; */
/***************************************************************************************** BASE/SCSS **/
/** [-] Reset *****************************************************************************************/
* { margin: 0; padding: 0; box-sizing: border-box; outline: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

input:focus { outline: 0; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/** [-] Clearfix **************************************************************************************/
.cf { zoom: 1; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

/** [-] Colours ***************************************************************************************/
/* $white:     rgba(254, 254, 254, 1); // #fefefe; */
/*
$red:				rgba(223, 21, 26, 1);		// #df151a;
$orange:		rbga(253, 134, 3, 1);		// #fd8603;
$yellow:		rgba(244, 243, 40, 1);	// #f4f328;
$green:			rgba(0, 218, 60, 1);		// #00da3c;
$blue:			rgba(0, 205, 231, 1);		// #00cbe7;
*/
/** [-] Mixins ****************************************************************************************/
/** [-] Generic ***************************************************************************************/
p { font-size: 16px/1.5em; margin: 0 0 1.5rem 0; }

a { color: inherit; cursor: pointer; text-decoration: none; }
a:hover { opacity: 0.7; }

em, i { font-family: "skolar", Georgia, serif; font-style: italic; }
em strong, em .strong, em b, i strong, i .strong, i b { font-style: italic; font-weight: 700; }

strong, .strong, b { font-family: "skolar", Georgia, serif; font-weight: 700; }
strong em, strong i, .strong em, .strong i, b em, b i { font-style: italic; }

pre, code { font-family: Consolas, Inconsolata, "HaxrCorp 4088 Caps", Courier New, mono; }

small { font-size: 80%; }

.hide-text { border: 0; color: transparent; font: 0/0 a; text-shadow: none; }

.unicode-char { font-family: Arial, Verdana, Geneva, sans-serif; }

/** [-] Titles ****************************************************************************************/
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { font-size: 3rem; /* 46px */ line-height: 50px; margin: 0 0 14px 0; }

h2 { font-size: 28px; /* 2rem ~ 35px */ line-height: 40px; margin: 0 0 10px 0; }

h3 { font-size: 1.7em; /* 28px */ line-height: 34px; margin: 0 0 8px 0; }

h4 { font-size: 21px; line-height: 30px; margin: 0 0 4px 0; }

h5 { font-size: 17px; line-height: 24px; }

h6 { font-size: 14px; line-height: 21px; }

/** [-] Lists *****************************************************************************************/
ul, ol { margin: 0; padding: 0; }
ul ul li, ul ol li, ol ul li, ol ol li { margin: 0; padding: 0; line-height: 1; }

ul { list-style: none outside; }

ol { list-style: decimal; }

.square, .circle, .disc { margin-left: 30px; }

.square { list-style: square outside; }

.circle { list-style: circle outside; }

.disc { list-style: disc outside; }

hr { border: 1px solid #ddd; clear: both; height: 0; margin: 10px 0 30px; }

/** [-] Quotes ****************************************************************************************/
/*
blockquote {
	margin: 1.5em 10px; padding: 0.5em 10px;

	background-color: $l-gray;
	border-left: 10px solid $gray-i; line-height: 25px;
	quotes: "\201C""\201D""\2018""\2019";
 &:before { color: $gray-i; content: open-quote; font-size: 4em; line-height: 0.1em; margin: 0 0.25em 0 0; vertical-align: -0.4em; }
}
*/
/** [-] Video *****************************************************************************************/
.video-container { margin: 0 0 20px 0; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; position: relative; }
.video-container iframe, .video-container object, .video-container embed { width: 100%; height: 100%; top: 0; left: 0; border: none; clear: left; position: absolute; }

/*************************************************************************************** LAYOUT/SCSS **/
* { text-rendering: optimizeLegibility !important; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); -webkit-font-smoothing: antialiased !important; }

html, body { width: 100%; height: 100%; }

body { background-color: #fcfcfc; color: #191919; font-family: "Source Sans Pro", Arial, sans-serif; font-size: 16px; overflow-x: hidden; position: relative; text-rendering: optimizeLegibility; }

::selection { background-color: transparent; color: #70a1b1; }

/** HEADER ********************************************************************************************/
header, footer { background-size: cover; text-align: center; width: 100%; }

header { /* background-image: url("../images/bg-03.jpg"); */ background-color: #cc9e61; height: 550px; position: fixed; }
header h1 { width: 400px; height: 111px; background-image: url("../images/logo.png"); background-size: 400px 111px; /* 600px 167px */ margin: 4rem auto 1rem; border: 0; color: transparent; font: 0/0 a; text-shadow: none; }
header h1 a { width: 100%; height: 100%; display: block; }
header h3 { font-style: italic; margin: 0 0 2rem 0; }
header p { margin: 0 auto 2rem; padding: 0 0 0 1rem; border-left: 3px solid #70a1b1; text-align: justify; width: 60%; }
header .cta:after { content: "\203A"; display: block; font-size: 4em; font-weight: 300; line-height: 0.4; transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); }

/** MAIN CONTENT **************************************************************************************/
#container { width: 100%; height: 1500px; /**/ background-color: #a49385; position: relative; top: 550px; /**/ z-index: 10; }

p, .cta { font-size: 1.3em; line-height: 1.5; }

/** FOOTER ********************************************************************************************/
footer { /* background-image: url("../images/bg-02.jpg"); */ background-color: #56606c; color: #fcfcfc; height: 330px; padding: 3rem 0 0 0; position: relative; top: 550px; }
footer ul { border-bottom: 1px solid rgba(252, 252, 252, 0.3); margin: 0 auto; padding: 0 0 2rem 0; width: 50%; }
footer ul li { margin: 0 2rem 0 0; padding: 0 0 0 0.5rem; display: inline-block; }
footer ul li:last-child { margin: 0; }
footer ul li:nth-child(1) { border-left: 3px solid #66a1dd; }
footer ul li:nth-child(1) a { color: #66a1dd; }
footer ul li:nth-child(2) { border-left: 3px solid #ff7a79; }
footer ul li:nth-child(2) a { color: #ff7a79; }
footer ul li:nth-child(3) { border-left: 3px solid #d0e1f4; }
footer ul li:nth-child(3) a { color: #d0e1f4; }
footer h3 { width: 200px; height: 56px; background-image: url("../images/logo.png"); background-size: 200px 56px; margin: 2rem auto 1rem; border: 0; color: transparent; font: 0/0 a; text-shadow: none; }
footer h3 a { width: 100%; height: 100%; display: block; }
footer .cta { padding: 0 0 2rem 0; }
